version: "3.8"

services:
  obx:
    build:
      context: /home/{{ deploy_user }}/deploy/app
      dockerfile: Dockerfile
    image: "{{ image }}"
    container_name: obx
    restart: unless-stopped
    environment:
      - PORT=8080
    ports:
      - "127.0.0.1:8080:8080"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"

